@{
    ViewBag.Title = "Contact";
}
<h2>Video de Referencia</h2>
<div class="row">
    <iframe allowfullscreen="" frameborder="0" height="270" src="https://www.youtube.com/embed/9SQNarTJRxI" width="480"></iframe>
</div>





