@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Proyecto Final Programacion VII</h1>

</div>

<h2 class="page-header">
<a class="btn btn-primary pull-right" href="~/productoes">CRUD de Productos</a>
   Productos
</h2>

<h2 class="page-header">
    <a class="btn btn-primary pull-right" href="~/bodegas">CRUD de Bodegas</a>
    Bodegas
</h2>

<h2 class="page-header">
    <a class="btn btn-primary pull-right" href="~/home/registrar">Facturar</a>
    Facturar
</h2>

<h2 class="page-header">
    <a class="btn btn-primary pull-right" href="~/comprobantedetalles">Generar Reporte</a>
    Reporte de Ventas
</h2>

@*<div class="row">
    <div class="col-md-12">
        <h2>Proyecto Programacion VII</h2>
        <p>
            Pagina Web para realizar las ventas y llevar CRUD de Productos
        </p>

    </div>

</div>*@